{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Home Page</h1>
    <div class="button-container">
        <button class="big-button" onclick="move_to_screen('5')">Ogolne info</button>
        <button class="big-button" onclick="move_to_screen('1')">SALAMANDER</button>
        <button class="big-button" onclick="move_to_screen('2')">85</button>
        <button class="big-button" onclick="move_to_screen('3')">DECCO</button>
        <button class="big-button" onclick="move_to_screen('4')">Gelian</button>
    </div>
</div>
{% endblock %}