body {
    /* background-color: rgb(185, 236, 236); */
    background: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div from buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* style button */
:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

button.big-button {
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    width: 100%;
    padding-bottom: 30px;
    height: 80px;
}

button.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
    transform: translate(0em, 0.75em);
}

button.big-button:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.box1 {
    background-color: aqua;
}

.container {
    width: 390px;
    background-color: red;
}

/*style form*/
#registration-form {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 400px;
    min-width: 250px;
    margin: 20px auto;
    position: relative;
}

#registration-form .fieldset {
    background-color: #d5d5d5;

    border-radius: 3px;

}

#registration-form legend {
    text-align: center;
    background: #123a61;
    width: 100%;
    padding: 30px 0;
    border-radius: 3px 3px 0 0;
    color: white;
    font-size: 2em;
}

.fieldset form {
    border: 1px solid #2f2f2f;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
}

.placeholder #registration-form label {
    display: none;
}

.no-placeholder #registration-form label {
    margin-left: 5px;
    position: relative;
    display: block;
    color: grey;
    text-shadow: 0 1px white;
    font-weight: bold;
}

/* all */
::-webkit-input-placeholder {
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
}

::-moz-placeholder {
    text-shadow: 0 1px 1px white;
    font-weight: bold;
}

/* firefox 19+ */
:-ms-input-placeholder {
    text-shadow: 0 1px 1px white;
    font-weight: bold;
}

/* ie */
#registration-form input[type=text] {
    padding: 15px 20px;
    border-radius: 1px;
    margin: 5px auto;
    background-color: #dfe3ef;
    border: 1px solid silver;

    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.no-placeholder #registration-form input[type=text] {
    padding: 10px 20px;
}

#registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus {
    outline: none;
    border-color: silver;
    background-color: white;
}

#registration-form input[type=submit] {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #5C8CA7;
    padding: 10px;
    color: white;
    border: 1px solid #3498db;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    top: 0;
}

#registration-form input[type=submit]:hover {
    background-color: #2980b9;
}

#registration-form input[type=submit]:active {
    background: #5C8CA7;
}


.parsley-error-list {
    background-color: #C34343;
    padding: 5px 11px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 3px 3px;
    margin-top: -5px;
    margin-bottom: 5px;
    color: white;
    border: 1px solid #870d0d;
    border-top: none;
    box-sizing: border-box;
    position: relative;
    top: -1px;
    text-shadow: 0 1px 1px #460909;
    font-weight: 700;
    font-size: 12px;
}

.parsley-error {
    border-color: #870d0d !important;
    border-bottom: none;
}

#registration-form select {
    width: 100%;
    padding: 5px;
}

::-moz-focus-inner {
    border: 0;
}
