
body {
	padding: 0;
	margin: 0;
}
.topbar{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
h1{
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
	/* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 20px;
    background: #833AB4;
	background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(175, 47, 152, 1) 53%, rgba(253, 29, 104, 1) 74%, rgba(252, 176, 69, 1) 100%);
    padding: 15px;
    box-shadow: 10px 10px 15px rgba(72, 51, 208, 0.8);
}
select{
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 2px solid #555;
    background-color: #f0f0f0;
    box-shadow: 8px 8px 5px rgba(37, 118, 210, 0.3);
    width: 100%;
	appearance: none;
}
.myButton {
	box-shadow: 5px 5px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 84px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
.container-data {
	display: none;
	background-color: rgb(148, 148, 232);
	padding-bottom: 20px;
	text-align: center;
	
}
/* --------- */
.save-recipe{
	display: none;
	text-align: center;
	background: #833AB4;
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(222, 158, 210, 1) 30%, rgba(96, 237, 103, 1) 51%, rgba(253, 29, 104, 1) 74%, rgba(252, 176, 69, 1) 100%);
	padding: 20px 0 20px 0;
}
input[type="text"] {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 8px;
	border: 2px solid #555;
	background-color: #f0f0f0;
	box-shadow: 6px 6px 5px rgba(37, 118, 210, 0.3);
	width: 90%;
	margin-top: 10px;
}
textarea {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 8px;
	border: 2px solid #555;
	background-color: #f0f0f0;
	box-shadow: 6px 6px 5px rgba(37, 118, 210, 0.3);
	width: 90%;
	margin-top: 10px;
	height: 300px;
	resize: vertical;
	margin-bottom: 20px;
}
.text-recipe{
	background-color: #555;
	color:white;
	padding: 10px;
	font-family:'Arial, sans-serif';
	font-size: 20px;
}
